*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
.navbar{
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: darkred;
    height:50px;
    width:100%;
}
.logo{
    float:left;
    color:white;
    font-size: larger;
    
}
.links{
    float:right;
    
}
.links a {
    color:white;
    font-size: larger;
    text-decoration: none;
}

.left{
    float:left;
    width:50%;
    height:530px;
    background-color: burlywood;

}

.right{
    float:right;
    width:50%;
    height:530px;
}

.menu_bar{
    align-items: center;
    align-content: center;
    align-self: center;
    background-color:red;
    height:50px;
    width:100%;
    color: white;
}
h1{
    color:blue;
}

.course1{
    text-align: center;
    align-items: center;
    align-content: center;

    float:left;
    background-color:red;
    color:white;
}
.course2{
    text-align: center;
    align-items: center;
    align-content: center;

    float:left;
    background-color:red;
    color:white;
}
.course3{
    text-align: center;
    align-items: center;
    align-content: center;

    float:none;
    background-color:brown;
    color:white;
}
.course1, .course2 , .course3{
    height:100px;
    width: 50%;
    font-family: cursive;

}

.info{
    text-align: center;
    align-items: center;
    align-content: center;

    float:left;
    background-color:white;
    color:brown;
}
.info2{
    text-align: center;
    align-items: center;
    align-content: center;

    float:left;
    background-color:red;
    color:white;
}
.info3{
    text-align: center;
    align-items: center;
    align-content: center;

    float:none;
    background-color:brown;
    color:white;
}
.info2 , .info3{
    width: 50%;
    height: 100%;
    font-family: sans-serif;

}

.left button{
    background-color: brown;
    border-radius: 5px;
    color: white;
}

.right video{
    overflow-x: hidden;
    overflow-y: hidden;
}
