*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.navbar{
    align-items: center;
    align-self: center;
    align-content: center;
    height:60px;
    width:100%;
    background-color: rgb(6, 208, 1);
    
}

.navbar span{
    align-self: center;
    float: left;
    font-size: 40px;
    color:red;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 1px;
}

ul li{
    float:right;
    list-style: none;
    margin:20px;
    font-size: 20px;
    font-style: italic;
}

.main_section{
    margin-bottom:15px;
    height:350px;
}

.main_left{
    float:left;
    height:370px;
    width:45%;

}
.main_left img{
    width:100%;
    height:100%;
}
.main_right{
    float:right;
    width:50%;
    text-align: left;
    margin-right:40px;
    padding:30px;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    
}
.main_right h2{
    color:rgb(5, 146, 18);
    font-size: 70px;
    padding-left:30px;
}
.main_right p{ 
    color:rgb(9, 27, 5);
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 40px;
    font-size: medium;
    font-weight: 200;

    
}

.join_btn,.read_btn{
    padding:10px 15px;
    margin:20px 15px 20px 40px;
    outline:none;
    border:none;
    cursor:pointer;
    animation-name: rotate;
    font-size: 18px;
}
.join_btn{
    /* padding:8px 25px; */
    background-color: rgb(6, 208, 1);
    color:black;
    border:2px solid black;
}

.read_btn{
    border:2px solid black;
    color:black;
    background-color: rgb(6, 208, 1);

}

.join_btn:hover{
    background:rgb(243, 255, 144);
    color:black;
    border:2px solid black;
}

.read_btn:hover{
    color:black;
    background-color:rgb(243,255,144);
}