*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Navbar a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.image_bg{
    background-image:url("/Projects/TEJAS_MADE/Project_2/Images/Tree_BG.jpg");
}

.Navbar{
    background-color: darkgreen;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    position: sticky;
}

h1{
    color:white;
    text-align: center;
    font-size: large;
}

p{
    text-align: center;
    color: green;
    font-size: smaller;
}

.btn_1{
    border-radius: 3px;
    border-style: none;
    text-align: center;
    color: green;
    background-color: lightgreen;
    margin: 12px;
}
.btn_2{
    border-radius: 3px;
    border-style: none;
    text-align: center;
    color: green;
    background-color: lightgreen;
}
.btn_1:hover{
    border-radius: 3px;
    border-style: none;
    text-align: center;
    color: limegreen;
    background-color: green;
    margin: 12px;
}
.btn_2:hover{
    border-radius: 3px;
    border-style: none;
    text-align: center;
    color: limegreen;
    background-color: green;
}
.image{
    margin: auto;
    float:left;
    width: 50%;
}


.about{
    background-color: goldenrod;
    margin:auto;
}

.para {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    height: auto;

    margin:auto;
}
.para p{
    margin-top: 17%;
    margin-bottom: 17%;
    font-size: smaller;
    font-size: larger;
}
.card_1, .card_2,.card_3 {
    width:30%;
    float: right;
    text-align: center;
    align-items: center;
    align-content: center;
    margin:23px;
    height:180px;
}

.card_1 p{
    color: greenyellow;
    font-size:xx-large;
}
.card_3 p{
    color: greenyellow;
}


.card_1{
    background-color: green;
}
.card_2{
    background-color: greenyellow;
    font-size:xx-large;
}
.card_3{
    background-color: green;
    font-size:xx-large;
}

.card_1:hover{
    background-color: lightskyblue;
}
.card_2:hover{
    background-color: greenyellow;
    background-color: darkblue;
}
.card_3:hover{
    background-color: greenyellow;
    background-color: lightskyblue;
}

.