/* CSS RESET */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.navbar{
    height:60px;
    width:100%;
    background-color: rgb(236, 147, 84);
}
.navbar span{
    float: left;
    font-size: 40px;
    color:red;
    font-weight: bold;
    /* margin-left:30px; */
    margin: auto 30px;
}

ul li{
    float:right;
    list-style: none;
    margin:20px;
    font-size: 20px;
    font-style: italic;
}
.main_section{
    /* background-color: rgb(50, 94, 79); */
    margin-bottom:15px;
    height:350px;
}
/* .clear::after {
    content: "";
    display: table;
    clear: both;
} */
.main_left{
    float:left;
    height:350px;
    width:37%;
    /* overflow-y: hidden; */
}
.main_left img{
    width:100%;
    height:100%;
}
.main_right{
    float:right;
    /* background-color: aqua; */
    width:50%;
    text-align: left;
    /* height:400px; */
    margin-right:40px;
    padding:30px;
}
.main_right h2{
    color:darkblue;
    font-style: italic;
    font-size: 70px;
    padding-left:30px;
    /* margin-left: 40px; */
}
.main_right p{ 
    color:rgb(9, 27, 5);
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 40px;
    
}

.join_btn,.read_btn{
    padding:10px 15px;
    margin:20px 15px 20px 40px;
    outline:none;
    border:none;
    cursor:pointer;
    font-size: 18px;
}
.join_btn{
    /* padding:8px 25px; */
    background-color: black;
    color:bisque;

}

.read_btn{
    border:2px solid black;
    color:black;
    background-color: bisque;

}

.join_btn:hover{
    background:white;
    color:black;
    border:2px solid black;
}

.read_btn:hover{
    color:white;
    background-color:black;
}

/* Cards */
.cards{
    /* height:230px; */

    width:32%;
    /* background-color: blue; */
    /* float:left; */
    text-align: center;
    margin:20px 10px;
    color:aliceblue;
    padding:20px;
}
.first, .third{
    background-color: rgb(106, 226, 75);

}
.first{
    float:left;
    margin-top:35px;

}
.first h1{
    color:darkred;
    font-weight: bolder;
    font-style: italic;
    margin-bottom:8px;

}
.first p{
    color: black;
    font-size: 18px;

}
.second {
    float:left;
    background-color: darkred;

}
.second h1{
    color:white;
    font-weight: bolder;
    font-style: italic;
    margin-bottom:8px;
}
.second p{
    color: rgb(238, 234, 234);
    font-size: 18px; 
}
.third{
    
    float:right;


}
.third h1{
    color:darkred;
    font-weight: bolder;
    font-style: italic;
    margin-bottom:8px;
}
.third p{
    color: black;
    font-size: 18px; 
}

.service_section{
    /* background-color: rgb(0, 0, 0); */
    height:auto;
}

/* Left */

.left{
    float:left;
    height:400px;
    width:50%;

}
.left img{
    width:80%;
    height:400px;
}
.right{
    float:left;
    height:400px;
    width:50%;
}
.form{
    width:auto;
    padding:40px;
}
.input{
    width:100%;
    padding: 5px;
    margin-bottom:10px;
    color:red;
}
label{
    color:red;
    font-weight: bold;
}

