.firstDiv{
    background-color: aqua;
    width:100px;
    text-align: center;
    border:10px solid black;
    padding:60px;
    margin-left: 100px;
    margin-top:40px;
    margin-bottom:20px;

}
.heading{
    background-color: blue;
}
.secondDiv{
    background-color: rgb(187, 255, 0);
    width:100px;
    text-align: center;  
    border:10px solid green;
    padding-right: 40px;
    padding-top:30px;
    padding-left:60px;
    margin-left:30px;
}